.navbar {
  align-items: center;
}

.navbar-list{
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--black);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.navbar-item {
  padding: 0.9375rem 0rem;
  min-width: 7.5rem;
  text-align: center;
}

.navbar-item:hover {
  transition: 0.4s;
  background-color: var(--vodka);
}

.navbar .menu-cta-button {
  margin-left: 1.25rem;
}

@media screen and (min-width: 768px) {
  .navbar-item {
    padding: 0.5rem 0rem;
    min-width: 5.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .navbar-item  {
    padding: 0.9375rem 0rem;
    min-width: 7.5rem;
    text-align: center;
  }
}
