.menu ul{
  display: flex;  
  align-items: center;
}

.menu a {
  color: var(--black);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.menu li{
  padding: 15px 0px;
  min-width: 7.5rem;
  text-align: center;
}

.menu li:hover {
  transition: 0.4s;
  background-color: var(--vodka);
}
