body {
  font-family: "Mulish", sans-serif;
}

.container {
  margin: auto;
  padding: 60px 0px;
  max-width: 1440px;
}

li {
  margin: 10px;
  color: var(--black);
  padding: 0px 20px;
}

.decoration-juju {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.thumbnail:hover {
  transform: scale(1.2);
}

.square-blue-card{
  
}
