.logo {
  height: fit-content;
}

.logo a {
  display: flex;
}

.logo h1 {
  margin: 10px;
  color: var(--blue-crayola);
  align-items: center;
}

header .logo h1 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

footer .logo h1 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
