.menubar {
  color: var(--black);
  display: flex;
  align-content: center;
}

.menubar a {
  color: var(--black);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.menubar li {
  transition: 0.4s;
}

.menubar li:hover {
  color: var(--black);
  background-color: var(--button-hover);
  transition: 0.4s;
}
