.section-title{
  position: relative;
}

.section-title:after{
  position: absolute;
  content: '';
  width: 5rem;
  height: 0.125rem;
  left: -2.5rem;
  bottom: 0rem;
  background: var(--blue-crayola);
  box-shadow: 0rem 0.125rem 0rem var(--box-shadow);
}
