<div class="testimonial-card">
  <div class="card-person">
    <div class="card-ava-name">
      <img
        class="testimonial-card-avatar"
        src="{{ card_avatar }}"
        alt="testimonial-picture-man"
      />
      <div class="testimonial-card-information">
        <span class="testimonial-card-name">{{ card_name }}</span>
        <br />
        <span class="testimonial-card-position">{{ card_position }}</span>
      </div>
    </div>
    <img
      class="card-icon"
      src="assets/images/illustration-quote.png"
      alt="illustration-quote"
    />
  </div>
  <p class="testimonial-card-text">{{ card_text }}</p>
</div>
