<div class="card">
  <div class="card-person">
    <div class="card-ava-name">
      <img
        class="card-avatar"
        src="{{ card_avatar }}"
        alt="testimonial-picture-man"
      />
      <div class="card-information">
        <span class="card-name">{{ card_name }}</span>
        <br />
        <span class="card-position">{{ card_position }}</span>
      </div>
    </div>
    <img
      class="card-icon"
      src="assets/images/illustration-quote.png"
      alt="illustration-quote"
    />
  </div>
  <p class="card-text">{{ card_text }}</p>
</div>
