.todoapp {
  background: var(--white);
  margin: 130px 0 40px 0;
  position: relative;
}

.todoapp h1 {
  position: absolute;
  top: -80px;
  width: 100%;
  font-size: 100px;
  font-weight: var(--font-light);
  text-align: center;
  color: var(--title);
}
