<section class="features">
  <h2 class="section-title">Features</h2>
  <div class="content-section">
    <!-- Feature card -->
    <div class="card">
      <div class="card-title">
        <img
          class="card-icon"
          src="assets/images/icon-solid-pixel-perfect.jpg"
          alt="icon-solid-pixel-perfect"
        />
        <p class="card-name">Pixel perfect output</p>
      </div>
      <p class="card-text">
        Crisp, pixel-perfect landing pages without bothering your developers
      </p>
      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- Feature card -->
    <div class="card">
      <div class="card-title">
        <img
          class="card-icon"
          src="assets/images/icon-solid-flexible-responsive.jpg"
          alt="icon-solid-flexible-responsive"
        />
        <p class="card-name">Flexible & responsive</p>
      </div>
      <p class="card-text">
        Your web pages will flexibly adapt to different browser window sizes
      </p>
      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- Feature card -->
    <div class="card">
      <div class="card-title">
        <img
          class="card-icon"
          src="assets/images/icon-solid-reusable-components.jpg"
          alt="icon-solid-reusable-components"
        />
        <p class="card-name">Complete code freedom</p>
      </div>
      <p class="card-text">
        VanGoux gives you source code of your website, so you can add your own
        logic
      </p>
      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>
  </div>
</section>
