<section class="features container">
  <h2 class="section-title medium">Features</h2>
  <div class="section-title-decoration-line"></div>
  <div class="card">
    <!-- Feature card -->
    <div class="feature-card">
      <div class="feature-name">
        <img
          src="assets/images/icon-solid-pixel-perfect.jpg"
          alt="icon-solid-pixel-perfect"
        />
        <p>Pixel perfect output</p>
      </div>
      <p class="feature-describe">
        Crisp, pixel-perfect landing pages without bothering your developers
      </p>
      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- Feature card -->
    <div class="feature-card">
      <div class="feature-name">
        <img
          src="assets/images/icon-solid-flexible-responsive.jpg"
          alt="icon-solid-flexible-responsive"
        />
        <p>Flexible & responsive</p>
      </div>
      <p class="feature-describe">
        Your web pages will flexibly adapt to different browser window sizes
      </p>
      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- Feature card -->
    <div class="feature-card">
      <div class="feature-name">
        <img
          src="assets/images/icon-solid-reusable-components.jpg"
          alt="icon-solid-reusable-components"
        />
        <p>Complete code freedom</p>
      </div>
      <p class="feature-describe">
        VanGoux gives you source code of your website, so you can add your own
        logic
      </p>
      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>
  </div>
</section>
