<footer class="footer container">
  <nav class="card-logo">
    <a href="" class="logo">
      <img src="assets/images/logo-small.png" alt="logo-small" />
    </a>
    <ul class="social-logo">
      <li>
        <a href="">
          <img src="assets/images/icon-facebook.png" alt="icon-facebook" />
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/images/icon-instagram.png" alt="icon-instagram" />
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="nav-link" href="">Contact</a></li>
      <li class="navbar-item"><a class="nav-link" href="">Feedback</a></li>
      <li class="navbar-item"><a class="nav-link" href="">Join our Slack</a></li>
      <li class="navbar-item"><a class="nav-link" href="">Terms</a></li>
    </ul>
    <img
      class="footer-icon-mobile"
      src="assets/images/vincent-Illustration-mobile.png"
      alt=""
    />
  </nav>
  <ul class="social-logo pc">
    <li>
      <a href="">
        <img src="assets/images/icon-facebook.png" alt="icon-facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="assets/images/icon-instagram.png" alt="icon-instagram" />
      </a>
    </li>
  </ul>
  <img
    class="footer-icon-pc"
    src="assets/images/vincent-illustration.png"
    alt="vincent-illustration"
  />
</footer>
