<footer class="footer">
  <a href="" class="logo">
    <img src="assets/images/logo-small.png" alt="logo-small" />
  </a>
  <div class="menu">
    <li><a href="">Contact</a></li>
    <li><a href="">Feedback</a></li>
    <li><a href="">Join our Slack</a></li>
    <li><a href="">Terms</a></li>
  </div>
  <div class="social-network">
    <li>
      <a href="">
        <img src="assets/images/icon-facebook.png" alt="icon-facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="assets/images/icon-instagram.png" alt="icon-instagram" />
      </a>
    </li>
  </div>
  <img
    class="footer-icon"
    src="assets/images/vincent-illustration.png"
    alt="vincent-illustration"
  />
</footer>
