<header class="header">
  <h1>
    <a href="" class="logo">
      <img src="assets/images/logo.png" alt="logo" />
    </a>
  </h1>
  <nav class="menu">
    <ul>
      <li><a href="">How it works</a></li>
      <li><a href="">Features</a></li>
      <li><a href="">Use cases</a></li>
      <li><a href="">Schedule a demo</a></li>
      <include
        src="components/button.html"
        locals='{
          "text": "Upload Sketch"
        }'
      ></include>
      <!-- <button class="menu-cta-button">Upload Sketch</button> -->
    </ul>
  </nav>
</header>
