<section class="hero container">
  <!-- Hero text mobile -->
  <div class="hero-mobile">
    <div class="hero-text">
      <p class="headline-text">Launch websites directly from Sketch</p>
      <p class="subheadline-text">
        Create pixel perfect websites, landing pages & portfolios directly from
        your Sketch designs
      </p>
      <include
        src="partials/components/button.html"
        locals='{
          "text": "See VanGoux in action"
        }'
      ></include>
    </div>
    <img
      class="hero-img"
      src="assets/images/illustration-main.png"
      alt="illustration-main"
    />
    <div class="visit-desktop-site">
      <a>Please visit our desktop site to upload your Sketch designs</a>
    </div>
  </div>

  <!-- Hero text tablet and pc -->
  <div class="hero-pc">
    <div class="hero-text">
      <p class="headline-text">
        Launch beautiful websites directly from Sketch
      </p>
      <p class="subheadline-text">
        Create pixel perfect websites, landing pages & portfolios directly from
        your Sketch designs
      </p>
      <include
        src="partials/components/button.html"
        locals='{
          "text": "Upload Your Sketch File"
        }'
      ></include>
    </div>
    <img
      class="hero-img"
      src="assets/images/illustration-main.png"
      alt="illustration-main"
    />
  </div>
</section>
