<section class="how-it-works container">
  <h2 class="section-title medium">How VanGoux works</h2>
  <div class="section-title-decoration-line"></div>
  <div class="card">
    <!-- How it works card -->
    <div class="how-it-works-card">
      <div class="step">
        <div class="step-name">
          <p>Step 1</p>
          <p>Upload Sketch</p>
        </div>
        <img
          class="icon"
          src="assets/images/icon-upload.png"
          alt="icon-upload"
        />
      </div>
      <p class="step-describe">
        Upload design for your site, landing page or portfolio
      </p>
      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- How it works card -->
    <div class="how-it-works-card">
      <div class="step">
        <div class="step-name">
          <p>Step 2</p>
          <p>Publish website</p>
        </div>
        <img
          class="icon"
          src="assets/images/icon-download.png"
          alt="icon-download"
        />
      </div>
      <p class="step-describe">
        You get a publicly shareable link for your website
      </p>

      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- How it works card -->
    <div class="how-it-works-card">
      <div class="step">
        <div class="step-name">
          <p>Step 3</p>
          <p>Add domain</p>
        </div>
        <img
          class="icon"
          src="assets/images/icon-use-code.png"
          alt="icon-use-code"
        />
      </div>
      <p class="step-describe">
        Upload design for your site, landing page or portfolio
      </p>
      <img
        class="decoration-juju"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>
  </div>
</section>