<section class="how-it-works container">
  <h2 class="section-title">How VanGoux works</h2>
  <div class="content-section">
    <!-- How it works card -->
    <div class="card">
      <div class="step">
        <div class="step-title">
          <p class="step-number">Step 1</p>
          <p class="step-name">Upload Sketch</p>
        </div>
        <img
          class="icon"
          src="assets/images/icon-upload.png"
          alt="icon-upload"
        />
      </div>
      <p class="step-describe">
        Upload design for your site, landing page or portfolio
      </p>
      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- How it works card -->
    <div class="card">
      <div class="step">
        <div class="step-title">
          <p class="step-number">Step 2</p>
          <p class="step-name">Publish website</p>
        </div>
        <img
          class="step-icon"
          src="assets/images/icon-download.png"
          alt="icon-download"
        />
      </div>
      <p class="step-describe">
        You get a publicly shareable link for your website
      </p>

      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>

    <!-- How it works card -->
    <div class="card">
      <div class="step">
        <div class="step-title">
          <p class="step-number">Step 3</p>
          <p class="step-name">Add domain</p>
        </div>
        <img
          class="step-icon"
          src="assets/images/icon-use-code.png"
          alt="icon-use-code"
        />
      </div>
      <p class="step-describe">
        Upload design for your site, landing page or portfolio
      </p>
      <img
        class="icon-tag"
        src="assets/images/decoration-juju.png"
        alt="decoration-juju"
      />
    </div>
  </div>
</section>
