<section class="how-it-works">
  <h2 class="section-title">How VanGoux works</h2>
  <div class="content-section">
    <!-- How it works card -->
    <include
      src="D:\Internship\Github\minh-nguyen-internship\html\practice-two\src\partials\components\how-it-works-card.html"
      locals='{
      "step_number": "Step 1",
      "step_name": "Upload Sketch",
      "icon": "assets/images/icon-upload.png",
      "step_describe": "Upload design for your site, landing page or portfolio"
    }'
    ></include>

    <!-- How it works card -->
    <include
      src="D:\Internship\Github\minh-nguyen-internship\html\practice-two\src\partials\components\how-it-works-card.html"
      locals='{
      "step_number": "Step 2",
      "step_name": "Publish website",
      "icon": "assets/images/icon-download.png",
      "step_describe": "You get a publicly shareable link for your website"
    }'
    ></include>

    <!-- How it works card -->
    <include
      src="D:\Internship\Github\minh-nguyen-internship\html\practice-two\src\partials\components\how-it-works-card.html"
      locals='{
      "step_number": "Step 3",
      "step_name": "Add domain",
      "icon": "assets/images/icon-use-code.png",
      "step_describe": "Upload design for your site, landing page or portfolio"
    }'
    ></include>
  </div>
</section>
