<section class="our-story">
  <h2 class="section-title">Our story</h2>
  <div class="content-section">
    <!-- Our story card -->
    <include
      src="D:\Internship\Github\minh-nguyen-internship\html\practice-two\src\partials\components\our-story-card.html"
      locals='{
      "card_img": "assets/images/icon-who-we-are.png",
      "card_title": "Who are we?",
      "card_describe1": "Hi! We are Tom & Kay — two passionate engineers of user experience. Building things people want makes us happy!",
      "card_describe2": "Kay is a former Googler and Tom is a startup veteran. We started VanGoux because it didn’t make sense to us that UI designs needed to be recreated in code from scratch."
    }'
    ></include>

    <!-- Our story card -->
    <article class="card">
      <img
        class="card-img"
        src="assets/images/icon-starry-night.png"
        alt="icon-starry-night"
      />
      <div class="card-text">
        <h3 class="card-title">What’s up with the name?</h3>
        <div class="card-describe mobile">
          <p>
            Pronounced as <span class="name">Van Gogh</span> — its a word play
            on Van Gogh meets UX.
          </p>
          <p>
            Vincent transformed the pain of his tormented life into ecstatic
            beauty. Our name is a our way of honoring his profound work.
          </p>
          <p>
            Check out <span class="link">Dr. Who doing something similar.</span>
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
