<section class="our-story">
  <h2 class="section-title">Our story</h2>
  <div class="content-section">
    <!-- Our story card -->
    <div class="card">
      <img
        class="card-img"
        src="assets/images/icon-who-we-are.png"
        alt="icon-who-we-are"
      />
      <article class="card-text">
        <h3 class="card-title">Who are we?</h3>
        <div class="card-describe">
          <p>
            Hi! We are Tom & Kay — two passionate engineers of user experience.
            Building things people want makes us happy!
          </p>
          <p>
            Kay is a former Googler and Tom is a startup veteran. We started
            VanGoux because it didn’t make sense to us that UI designs needed to
            be recreated in code from scratch.
          </p>
        </div>
      </article>
    </div>

    <!-- Our story card -->
    <article class="card">
      <img
        class="card-img"
        src="assets/images/icon-starry-night.png"
        alt="icon-starry-night"
      />
      <div class="card-text">
        <h3 class="card-title">What’s up with the name?</h3>
      </div>
    </ả>
  </div>
</section>
