<section class="testimonial container">
  <!-- Testimonial card -->
  <div class="testimonial-card box">
    <div class="testimonial-information">
      <div class="testimonial-ava-name">
        <img
          src="assets/images/testimonial-picture-man.jpg"
          alt="testimonial-picture-man"
        />
        <div class="testimonial-name">
          <span>John Doe</span>
          <br />
          <span>CEO, PrettyDopeDesigns</span>
        </div>
      </div>
      <img
        src="assets/images/illustration-quote.png"
        alt="illustration-quote"
      />
    </div>
    <p class="testimonial-text">
      “Our senior frontend developer was 70% faster in building React.js
      components thanks to VanGoux!”
    </p>
  </div>

  <!-- Testimonial card -->
  <div class="testimonial-card box">
    <div class="testimonial-information">
      <div class="testimonial-ava-name">
        <img
          class="testimonial-avatar"
          src="assets/images/testimonial-picture-woman.jpg"
          alt="testimonial-picture-woman"
        />
        <div class="testimonial-name">
          <span>Jane Goodman</span>
          <br />
          <span>Founder, ImpactNation</span>
        </div>
      </div>
      <img
        class="testimonial-icon"
        src="assets/images/illustration-quote.png"
        alt="illustration-quote"
      />
    </div>
    <p class="testimonial-text">
      “It was awesome to see VanGoux turn our MVP designs into code within
      minutes.”
    </p>
  </div>
</section>