<section class="testimonial container">
  <!-- Testimonial card -->
  <include
    src="partials/components/testimonial-card.html"
    locals='{
      "card_avatar": "assets/images/testimonial-picture-man.jpg",
      "card_name": "John Doe",
      "card_position": "CEO, PrettyDopeDesigns",
      "card_text": "“Our senior frontend developer was 70% fster in building React.js components thanks to VanGoux!”"
    }'
  ></include>

  <!-- Testimonial card -->
  <include
    src="partials/components/testimonial-card.html"
    locals='{
      "card_avatar": "assets/images/testimonial-picture-woman.jpg",
      "card_name": "Jane Goodman",
      "card_position": "Founder, ImpactNation",
      "card_text": "“It was awesome to see VanGoux turn our MVP designs into code within minutes.”"
    }'
  ></include>
</section>
