<section class="testimonial container">
  <!-- Testimonial card -->
  <div class="card">
    <div class="card-person">
      <div class="card-ava-name">
        <img
          class="card-avatar"
          src="assets/images/testimonial-picture-man.jpg"
          alt="testimonial-picture-man"
        />
        <div class="card-information">
          <span class="card-name">John Doe</span>
          <br />
          <span class="card-position">CEO, PrettyDopeDesigns</span>
        </div>
      </div>
      <img
        class="card-icon"
        src="assets/images/illustration-quote.png"
        alt="illustration-quote"
      />
    </div>
    <p class="card-text">
      “Our senior frontend developer was 70% fster in building React.js
      components thanks to VanGoux!”
    </p>
  </div>

  <!-- Testimonial card -->
  <div class="card">
    <div class="card-person">
      <div class="card-ava-name">
        <img
          class="card-avatar"
          src="assets/images/testimonial-picture-woman.jpg"
          alt="testimonial-picture-woman"
        />
        <div class="card-information">
          <span class="card-name">Jane Goodman</span>
          <br />
          <span class="card-position">Founder, ImpactNation</span>
        </div>
      </div>
      <img
        class="card-icon"
        src="assets/images/illustration-quote.png"
        alt="illustration-quote"
      />
    </div>
    <p class="card-text">
      “It was awesome to see VanGoux turn our MVP designs into code within
      minutes.”
    </p>
  </div>
</section>
