<section class="use-cases container">
  <h2 class="section-title mobile">Use cases</h2>
  <h2 class="section-title pc">Who is VanGoux for</h2>
  <div class="content-section">
    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">UX engineers</h3>
      <p class="card-text">Build MVPs for your web app as fast as you can design</p>
    </div>

    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">UX designers</h3>
      <p class="card-text">Create and share reaslistic prototypes of your website or app</p>
    </div>

    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">React developers</h3>
      <p class="card-text">Auto-generate boilerplate components and design systems</p>
    </div>

    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">Design agencies</h3>
      <p class="card-text">Close more clients by showing them how quickly you can build apps</p>
    </div>

    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">Startups</h3>
      <p class="card-text">Go to market quickly by spinning up your website and apps</p>
    </div>

    <!-- Use case card -->
    <div class="card">
      <h3 class="card-title">Enterprises</h3>
      <p class="card-text">Quickly build design systems for your UX and product teams</p>
    </div>
  </div>
</section>
