<section class="use-cases">
  <h2 class="section-title medium">Who is VanGoux for</h2>
  <div class="section-title-decoration-line"></div>
  <div class="content-section">
    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">UX engineers</h3>
      <p>Build MVPs for your web app as fast as you can design</p>
    </div>

    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">UX designers</h3>
      <p>Create and share reaslistic prototypes of your website or app</p>
    </div>

    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">React developers</h3>
      <p>Auto-generate boilerplate components and design systems</p>
    </div>

    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">Design agencies</h3>
      <p>Close more clients by showing them how quickly you can build apps</p>
    </div>

    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">Startups</h3>
      <p>Go to market quickly by spinning up your website and apps</p>
    </div>

    <!-- Use case card -->
    <div class="use-case-card">
      <h3 class="card-title small">Enterprises</h3>
      <p>Quickly build design systems for your UX and product teams</p>
    </div>
  </div>
</section>
