<section class="use-cases">
  <h2 class="section-title mobile">Use cases</h2>
  <h2 class="section-title pc">Who is VanGoux for</h2>
  <div class="content-section">
    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "UX engineers",
        "card_text": "Build MVPs for your web app as fast as you can design"
      }'
    ></include>

    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "UX designers",
        "card_text": "Create and share reaslistic prototypes of your website or app"
      }'
    ></include>

    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "React developers",
        "card_text": "Auto-generate boilerplate components and design systems"
      }'
    ></include>

    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "Design agencies",
        "card_text": "Close more clients by showing them how quickly you can build apps"
      }'
    ></include>

    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "Startups",
        "card_text": "Go to market quickly by spinning up your website and apps"
      }'
    ></include>

    <!-- Use case card -->
    <include
      src="partials/components/use-cases-card.html"
      locals='{
        "card_title": "Enterprises",
        "card_text": "Quickly build design systems for your UX and product teams"
      }'
    ></include>
  </div>
</section>
