<section class="what-can-you-do container">
  <h2 class="section-title medium">What can you do with VanGoux</h2>
  <div class="section-title-decoration-line"></div>
  <div class="what-can-you-do">
    <!-- What can you do card -->
    <div class="what-can-you-do-card">
      <img
        src="assets/images/icon-solid-realistic-prototype.jpg"
        alt="icon-solid-realistic-prototype"
      />
      <p class="what-can-you-do-card-text">Make realistic prototypes</p>
    </div>

    <!-- What can you do card -->
    <div class="what-can-you-do-card">
      <img src="assets/images/icon-solid-mvp.jpg" alt="icon-solid-mvp" />
      <p class="what-can-you-do-card-text">
        Build an MVP as quickly as you can design
      </p>
    </div>

    <!-- What can you do card -->
    <div class="what-can-you-do-card">
      <img
        src="assets/images/icon-solid-landing-page.jpg"
        alt="icon-solid-landing-page"
      />
      <p class="what-can-you-do-card-text">
        Create pixel-perfect landing pages
      </p>
    </div>

    <!-- What can you do card -->
    <div class="what-can-you-do-card">
      <img
        src="assets/images/icon-solid-design-system.jpg"
        alt="icon-solid-design-system"
      />
      <p class="what-can-you-do-card-text">
        Generate a design system for your product
      </p>
    </div>
  </div>
</section>
