<section class="what-can-you-do">
  <h2 class="section-title">What can you build with VanGoux</h2>
  <div class="content-section">
    <!-- What can you do card -->
    <include
      src="partials/components/what-can-you-do-card.html"
      locals='{
        "card_img": "assets/images/icon-solid-realistic-prototype.jpg",
        "card_text": "Make realistic prototypes"
      }'
    ></include>

    <!-- What can you do card -->
    <include
      src="partials/components/what-can-you-do-card.html"
      locals='{
        "card_img": "assets/images/icon-solid-mvp.jpg",
        "card_text": "Build an MVP as quickly as you can design"
      }'
    ></include>

    <!-- What can you do card -->
    <include
      src="partials/components/what-can-you-do-card.html"
      locals='{
        "card_img": "assets/images/icon-solid-landing-page.jpg",
        "card_text": "Create pixel-perfect landing pages"
      }'
    ></include>

    <!-- What can you do card -->
    <include
      src="partials/components/what-can-you-do-card.html"
      locals='{
        "card_img": "assets/images/icon-solid-design-system.jpg",
        "card_text": "Generate a design system for your product"
      }'
    ></include>
  </div>
</section>
