<section class="what-can-you-do">
  <h2 class="section-title">What can you build with VanGoux</h2>
  <div class="content-section">
    <!-- What can you do card -->
    <div class="card">
      <img
        src="assets/images/icon-solid-realistic-prototype.jpg"
        alt="icon-solid-realistic-prototype"
      />
      <p class="card-text">Make realistic prototypes</p>
    </div>

    <!-- What can you do card -->
    <div class="card">
      <img src="assets/images/icon-solid-mvp.jpg" alt="icon-solid-mvp" />
      <p class="card-text">Build an MVP as quickly as you can design</p>
    </div>

    <!-- What can you do card -->
    <div class="card">
      <img
        src="assets/images/icon-solid-landing-page.jpg"
        alt="icon-solid-landing-page"
      />
      <p class="card-text">Create pixel-perfect landing pages</p>
    </div>

    <!-- What can you do card -->
    <div class="card">
      <img
        src="assets/images/icon-solid-design-system.jpg"
        alt="icon-solid-design-system"
      />
      <p class="card-text">Generate a design system for your product</p>
    </div>
  </div>
</section>
