<section class="whiteg-love">
  <div class="content-section container">
    <h2 class="section-title">Don’t know how to work with code?</h2>
    <div class="section-text">
      <div class="whiteglove-blurb">
        <p class="card-text">
          Schedule a call and we'll show you how you could become a
          design-to-code rockstar using VanGoux.
        </p>
        <button class="menu-cta-button">Schedule a call with us</button>
      </div>
      <img
        class="whiteglove-section-img"
        src="assets/images/illustration-whiteg-love.png"
        alt="illustration-whiteg-love"
      />
    </div>
  </div>
</section>
