<section class="whiteglove-section container">
  <div class="whiteglove-section-text">
    <h2 class="section-title medium white">
      Don’t know how to work with code?
    </h2>
    <div class="section-title-decoration-line"></div>
    <div class="whiteglove-blurb">
      <p>
        Schedule a call and we'll show you how you could become a design-to-code
        rockstar using VanGoux.
      </p>
      <button>Schedule a call with us</button>
    </div>
  </div>
  <img
    class="whiteglove-section-img"
    src="assets/images/illustration-whiteg-love.png"
    alt="illustration-whiteg-love"
  />
</section>
