:root {
  --blue-crayola: #1968fc;
  --white: #ffffff;
  --azureish-white: #d1e1fe;
  --alice-blue: #f3f7ff;
  --black: black;
  --name-card: #1967fa;
  --box-shadow: #3145f41a;
  --footer-logo: #1968fc0d;
}
