.container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: var(--primary-light);
  user-select: none;
  font-size: 14px;
  font-weight: var(--font-regular);
  color: var(--normal);
  max-width: 550px;
  margin: auto;
}

.display-none {
  display: none;
}
