body {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
	line-height: 22px;
	background: var(--background);
	color: var(--text);
	min-width: 230px;
	max-width: 550px;
	font-weight: var(--font-regular);
  margin: auto;
}

:focus {
	outline: 0;
}
