button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  font-weight: var(--font-regular);
  color: #777;
  appearance: none;
}

.clear-completed {
  float: right; 
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}
