button {
  border: 0;
  background: none;
  font-weight: var(--font-regular);
  color: var(--grey-dark);
}

.clear-completed {
  line-height: 20px;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.filters {
  display: flex;
}

.footer-list-task {
  display: flex;
  justify-content: space-between;
}

.filters li button {
  color: var(--grey-dark);
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
	border-radius: 3px;
  margin: 0px 5px;
  cursor: pointer;
}

.filters li button:hover {
  border-color: var(--metallic-red);
}

.filters li button.selected {
  border-color: var(--filter-select);
}
