.btn {
  border: 0;
  background: none;
  font-weight: var(--font-regular);
  color: var(--grey-dark);
  cursor: pointer;
}

.btn-primary {
  color: var(--grey-dark);
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0px 5px;
}

.btn-primary:hover {
  border-color: var(--metallic-red);
}

.btn-secondary:hover {
  text-decoration: underline;
}
