:root {
  --blue-crayola: #1968fc;
  --celtic-blue: #3369cc;
  --white: #ffffff;
  --azureish-white: #d1e1fe;
  --alice-blue: #f3f7ff;
  --vodka: #baccf8;
  --black: black;
  --name-card: #1967fa;
  --box-shadow: #3145f41a;
  --footer-background: #fbfbfb;
  --card-name-person: #11223f;
  --section-title: #11223f;
}
