.home {
  display: flex;
  padding-top: 9.375rem;
  position: relative;
  min-height: 38.75rem;
  overflow: hidden;
}

.home.container {
  justify-content: space-between;
}

.home-text {
  max-width: 37.5rem;
}

.subheadline-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin: 1.125rem 0rem 2.0625rem 0rem;
}

.home-img {
  position: absolute;
  right: 10rem;
  bottom: -5rem;
}
