.our-story-section {
  min-height: 41.25rem;
  padding-top: 7.5rem;
}

.our-story {
  display: flex;
  margin-top: 1.25rem;
  justify-content: space-between;
}

.our-story-card {
  width: 40%;
  display: flex;
}

.our-story-card-img {
  max-height: 2.0625rem;
  max-width: 2.5rem;
}

.our-story-card-text {
  margin-left: 1.25rem;
}

.our-story-card-text p {
  margin-top: 1.25rem;
}
