.whiteglove-section-background {
  background-color: var(--blue-crayola);
}

.whiteglove-section {
  position: relative;
  min-height: 28.125rem;
  display: flex;
  padding-top: 5rem;
  overflow: hidden;
}

.white {
  color: var(--white);
}

.whiteglove-section-text {
  margin: 0px;
  width: 59%;
}

.whiteglove-section .section-title:after {
  background-color: var(--white);
}

.whiteglove-blurb {
  color: var(--white);
  margin-top: 3rem;
}

.whiteglove-blurb button {
  margin: 2.5rem 0rem;
  padding: 1.25rem 3.125rem;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--blue-crayola);
  font-weight: 700;
  border: none;
  transition: 0.4s;
}

.whiteglove-blurb button:hover {
  background-color: var(--vodka);
}

.whiteglove-section-img {
  position: absolute;
  right: 0rem;
  top: 1.25rem;
}
