.feature-card{
  margin: 38px;
  width: 30%;
  box-shadow: 0px 20px 60px var(--box-shadow);
  position: relative;
}

.feature-name{
  display: flex;
  background-color: var(--alice-blue);
}

.feature-name img{
  width: 40%;
}

.feature-name p{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.feature-describe{
  padding: 40px;
}

.translate{
  transform: translateY(50px);
}

.feature-card:last-child{
  transform: translateY(100px);
}
