footer{
    display: flex;
    justify-content: space-between;
}

.social-network{
    display: flex;
}

.social-network li{
  padding: 0px;
}

footer .logo{
    background-color: #1968FC0D;
}

.footer-icon img{
  width: 50%;
}
