header{
    display: flex;
    justify-content: space-between;
}

.logo span{
    margin: 10px;
    color: #1968FC;
    font-size: 20px;
    align-items: center;
}

.top a{
    color: black;
}

.headlineText{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
