.home{
  display: flex;
  margin-top: 150px;
}

.home-text{
  max-width: 600px;
}

.headline-text{
  font-size: 40px;
}

.subheadline-text{
  font-size: 20px;
}

.home-img img{
  transform: translate(50px, 70px)
}
