/* @font-face{
  font-family: Mulish;
  src: url('assets/fonts/Mulish-Italic-VariableFont_wght.ttf'),url('assets/fonts/Mulish-VariableFont_wght.ttf');
} */

*{
  font-family: Mulish;
}

.container{
  margin: 30px 11%;
  font-family: Mulish;
  max-width: 1440px;
}

.menu-cta-button{
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--blue-crayola);
  border: var(--blue-crayola);
  text-transform: uppercase;
  size: 20px;
}

.menubar{
  color: var(--black);
  display: flex;
}

li{
  margin: 10px;
  color: var(--black);
  padding: 0px 20px;
}

.h3{
  text-transform: uppercase;
}

.section-title{
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  padding-left: 40px; 
}

.decoration-juju{
  position: absolute;
  right: -5px;
  bottom: -5px;
}
