:root {
  --blue-crayola: #1968FC;
  --white: #FFFFFF;
  --azureish-white: #D1E1FE;
  --box-shadow: #3145f41a;
  --alice-blue: #F3F7FF;
  --footer-logo: #1968fc0d;
  --black: black;
  --name: #1967FA;
}