.what-can-you-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.what-can-you-do-card {
  display: flex;
  width: 540px;
  height: 80px;
  margin: 20px 10px;
}

.what-can-you-do-card-text {
  padding: 20px;
  font-weight: bolder;
  width: 100%;
}

.decoration-juju img {
  transform: translate(224px, 45px);
}
