.what-can-you-do-section{
    margin: 120px 0px;

}

.what-can-you-do{
    display: flex;
    flex-wrap: wrap;
}

.what-can-you-do-card{
    display: flex;
    width: 540px;
    height: 80px;
    margin: 20px 10px;
}

.what-can-you-do-card-text{
    padding: 20px;
    font-weight: bolder;
    width: 100%;
}

