.footer{
  padding: 2.5rem;
  position: relative;
}

.footer .card-logo{
  display: flex;
  justify-content: space-between;
}

.social-logo{
  display: flex;
}

.social-logo a{
  padding: 0.9375rem;
}

.footer-icon{
  position: absolute;
  bottom: 0rem;
  right: 2.5rem;
  max-width: 3,4375rem;
  max-height: 3.75rem;
}