.footer {
  padding: 2.5rem;
  padding-bottom: 0rem;
  position: relative;
  background-color: var(--footer-background);
}

.footer-pc {
  display: none;
}

.footer .card-logo {
  display: flex;
  justify-content: space-between;
}

.footer .menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer .menu ul {
  padding: 2.5rem;
}

.footer .menu li {
  padding: 0rem 1.5rem;
}

.social-logo {
  display: flex;
}

.social-logo a {
  padding: 0.9375rem;
}

.social-logo.pc {
  display: none;
}

.footer-icon-pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 3.75rem 2.25rem;
    padding-bottom: 0rem;
  }

  .footer .menu li {
    padding: 0rem 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .card-logo .social-logo {
    display: none;
  }

  .social-logo.pc {
    display: flex;
  }

  .footer {
    display: flex;
    padding: 1.875rem 10rem;
    padding-bottom: 0rem;
    align-items: center;
    justify-content: space-between;
  }

  .footer .menu {
    margin: 0rem 4.375rem;
  }

  .footer-icon-mobile {
    display: none;
  }

  .footer-icon-pc {
    display: unset;
    margin-left: 5rem;
  }

  .footer .menu ul {
    padding: 0rem;
  }
}
