.header {
  display: flex;
  padding: 2.5rem 5rem;
}

.header .menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .header .menu {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    margin: auto;
    padding: 1.875rem 10rem;
  }
}