.hero-text {
  padding: 2.5rem 5rem;
}

.hero-pc {
  display: none;
}

.headline-text {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
}

.subheadline-text {
  margin: 1.25rem 0rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.hero .menu-cta-button {
  margin: 1.25rem 0rem;
}

.hero-mobile .hero-img {
  padding: 20px;
  padding-bottom: 0rem;
  width: 100%;
  height: 100%;
}

.visit-desktop-site {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 1.875rem 3.75rem;
  color: var(--white);
  background-image: url("/src/assets/images/please-visit-desktop-site-section-background.png");
}

@media screen and (min-width: 768px) {
  .visit-desktop-site {
    display: none;
  }

  .hero {
    padding: 7rem 2.5rem;
    display: flex;
    margin: auto;
  }

  .hero-mobile{
    margin-bottom: 7rem;
  }

  .hero-text {
    padding: 0rem;
  }

  .hero-img {
    aspect-ratio  : 16/9;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 9.375rem 10rem;
    position: relative;
  }

  .hero-mobile{
    display: none;
  }

  .hero-pc {
    display: flex;
    justify-content: space-between;
  }

  .hero-text {
    padding: 0rem;
    width: 70%;
  }

  .hero-img {
    position: absolute;
    right: 10rem;
    bottom: -5rem;
  }

  .headline-text {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.75rem;
  }

  .subheadline-text {
    margin: 1.25rem 0rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
