.testimonial .card {
  padding: 2.5rem;
  box-shadow: 0rem 1.25rem 3.75rem var(--box-shadow);
}

.card-person {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2.5rem;
}

.card-ava-name {
  display: flex;
  align-items: center;
}

.card-information {
  font-weight: 600;
  line-height: 1.875rem;
  margin-left: 1.25rem;
}

.card-name {
  font-size: 1.125rem;
  color: var(--card-name-person);
}

.card-position {
  font-size: 0.875rem;
  color: var(--name-card);
}

.testimonial {
  padding: 3.125rem 3.75rem;
}

.testimonial .card {
  margin-bottom: 3.125rem;
}

@media screen and (min-width: 768px) {
  .testimonial {
    display: flex;
    margin: auto;
    padding: 0rem 2.25rem 3rem 2.25rem;
    justify-content: space-between;
  }

  .testimonial .card {
    padding: 1.5rem;
  }

  .testimonial .card {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .testimonial {
    max-width: 1440px;
    padding: 0rem 10rem 3.75rem 10rem;
  }

  .testimonial .card {
    max-width: 33.75rem;
    max-height: 17.5rem;
    padding: 2.5rem;
  }
}
