.use-cases {
  padding: 2.5rem 0.625rem;
}

.use-cases .section-title.pc {
  display: none;
}

.use-cases .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.use-cases .card {
  max-width: 15.625rem;
  margin: 1.25rem 0.5rem 0rem 0rem;
  padding: 1.25rem;
  box-shadow: 0rem 1.25rem 3.75rem var(--box-shadow);
}

.use-cases .card-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: var(--name-card);
  margin-bottom: 1.25rem;
}

.use-cases .card-name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--title);
}

@media screen and (min-width: 480px){
  .use-cases {
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .use-cases {
    padding: 3.75rem 2.25rem;
  }

  .use-cases .section-title.pc {
    display: flex;
  }

  .use-cases .section-title.mobile {
    display: none;
  }

  .use-cases .content-section {
    justify-content: space-around;
  }

  .use-cases .card {
    max-width: 20.5rem;
    padding: 1.25 rem;
  }
}

@media screen and (min-width: 1440px) {
  .use-cases {
    padding: 3.75rem 10rem;
  }

  .use-cases .content-section {
    justify-content: space-between;
  }

  .use-cases .card {
    max-width: 22.5rem;
  }
}
