.what-can-you-do {
  padding: 2.5rem 0.625rem;
}

.what-can-you-do .card {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  box-shadow: 0rem 1.25rem 3.75rem var(--box-shadow);
}

.what-can-you-do .card-text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.5rem;
  margin-left: 1.25rem;
}

@media screen and (min-width: 480px){
  .what-can-you-do {
    padding: 3.75rem;
  }
}

@media screen and (min-width: 1440px) {
  .what-can-you-do {
    padding: 3.75rem 2.25rem;
  }

  .what-can-you-do .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .what-can-you-do .card {
    width: 29rem;
  }
}

@media screen and (min-width: 1440px) {
  .what-can-you-do {
    padding: 3.75rem 10rem 7.5rem 10rem;
  }

  .what-can-you-do .card {
    width: 33.75rem;
  }

  .what-can-you-do .content-section {
    justify-content: space-between;
  }
}
