footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
}

footer.container {
  padding-top: 2.5rem;
  align-items: center;
}

.social-network {
  display: flex;
}

.social-network li {
  padding: 1.25rem;
}
