footer {
  display: flex;
  justify-content: space-between;
}

.social-network {
  display: flex;
}

.social-network li {
  padding: 20px;
}

footer .logo {
  background-color: var(--footer-logo);
}

.logo {
  height: fit-content;
}

.footer-icon {
  max-width: 90px;
  max-height: 100px;
}
