.our-story-section {
  height: 680px;
  padding-top: 120px;
}

.our-story {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.our-story-card {
  width: 40%;
  display: flex;
}

.our-story-card-img {
  max-height: 33px;
  max-width: 40px;
}

.our-story-card-text {
  margin-left: 20px;
}

.our-story-card-text p {
  margin-top: 20px;
}
