.testimonial {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.75rem;
}

.box {
  max-width: 33.75rem;
  max-height: 17.5rem;
  padding: 2.5rem;
  box-shadow: 0rem 1.25rem 3.75rem var(--box-shadow);
}

.testimonial-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.testimonial-ava-name {
  display: flex;
  align-items: center;
}

.testimonial-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}

.testimonial-name {
  font-weight: 600;
  line-height: 1.875rem;
  margin-left: 1.25rem;
}

.testimonial-name span:first-child {
  font-size: 1.125rem;
}

.testimonial-name span:last-child {
  color: var(--name-card);
  font-size: 0.875rem;
}
