.testimonial {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.box {
  max-width: 540px;
  max-height: 280px;
  padding: 40px;
  box-shadow: 0px 20px 60px var(--box-shadow);
}

.testimonial-ava-name {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}

.how-it-works-card {
  border: 1px solid;
}

.testimonial-text {
  padding: 10px 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}

.testimonial-name {
  font-weight: 600;
  line-height: 1.875rem;
}

.testimonial-name p:first-child {
  font-size: 1.125rem;
}

.testimonial-name p:last-child {
  color: var(--name-card);
  font-size: 0.875rem;
}
