.testimonial {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.box {
  max-width: 540px;
  max-height: 280px;
  padding: 40px;
  box-shadow: 0px 20px 60px var(--box-shadow);
}

.testimonial-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.testimonial-ava-name {
  display: flex;
  align-items: center;
}

.testimonial-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}

.testimonial-name {
  font-weight: 600;
  line-height: 1.875rem;
  margin-left: 20px;
}

.testimonial-name span:first-child {
  font-size: 1.125rem;
}

.testimonial-name span:last-child {
  color: var(--name-card);
  font-size: 0.875rem;
}
