.what-can-you-do-section {
  min-height: 430px;
  padding-top: 60px;
}

.what-can-you-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 38px;
}

.what-can-you-do-card {
  display: flex;
  width: 540px;
  height: 80px;
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px var(--box-shadow);
}

.what-can-you-do-card-text {
  padding: 20px;
  font-weight: bolder;
  width: 100%;
}

.decoration-juju img {
  transform: translate(224px, 45px);
}
