header {
  display: flex;
  justify-content: space-between;
}

.logo a {
  display: flex;
}

.logo h1 {
  margin: 10px;
  color: var(--blue-crayola);
  font-size: 20px;
  align-items: center;
}

.top a {
  color: var(--black);
}

.headline-text {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
