header{
  display: flex;
  justify-content: space-between;
}

.logo span{
  margin: 10px;
  color: var(--blue-crayola);
  font-size: 20px;
  align-items: center;
}

.top a{
  color: var(--black);
}

.headline-text{
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
